<h1>確認</h1>


<form action="/sns" method="post">
<div><td align="right">
  <div>
    DriverID: <%=@id%>
  </div>  
  <div>
    Title: <%=@title%>
  </div>  
  <div>
    本文:<%=@msg%>
  </div>
  <td>
    <input type="submit" value="送信">
    <input type="reset" value="リセット">
  </td></td>
</div>

</form>
