
  <div id="map" style="width:620px; height:400px"></div>
  <script type="text/javascript">
    function initMap() {
      var haight = new google.maps.LatLng(37.7699298, -122.4469157);
      var oceanBeach = new google.maps.LatLng(37.7683909618184, -122.51089453697205);
      var DS = new google.maps.DirectionsService();
      var DR = new google.maps.DirectionsRenderer();
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.632896, lng: 139.880394} ,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });
        /* marking */
        var m_latlng1 = new google.maps.LatLng(35.632896,139.880394);
        var marker1 = new google.maps.Marker({
          position: m_latlng1,
           map: map
        });
        var m_latlng2 = new google.maps.LatLng(35.625663,139.884238);
          var marker2 = new google.maps.Marker({
          position: m_latlng2,
          map: map
        });


        /* map を DirectionsRendererオブジェクトのsetMap()を使って関連付け */
        DR.setMap(map);
        /* 開始地点と目的地点、ルーティングの種類を設定 */
        document.getElementById("btn").onclick = function(){
        var from = document.getElementById('from').value;
        var to = document.getElementById('to').value;
        var request = {
          origin: haight,
          destination: oceanCeach,
          travelMode: google.maps.TravelMode.WALKING
        };
        DS.route(request, function(result, status) {
          DR.setDirections(result);
        });
      }
    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYibp6uMIbDm8tng2JfGd0KSWhBucdluQ&callback=initMap">
  </script>

  <div class="form">
  <label>出発地
  <input type="text" id="from" value="東京ディズニーランド">
  </label>
  <span>&rarr;</span>
  <label>到着地
  <input type="text" id="to" value="東京ディズニーシー">
  </label>
  <input type="button" id="btn" value="ルートを表示">
  </div> 
  


