
  <div id="map" style="width:620px; height:400px"></div>
  <script type="text/javascript">
    function initMap() {
      var opts = {
        zoom: 15,
        center: new google.maps.LatLng(35.66236, 139.760343)
      };
      var map = new google.maps.Map(document.getElementById("map"), opts);
    }
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYibp6uMIbDm8tng2JfGd0KSWhBucdluQ&callback=initMap">
  </script>
