<script type='text/javascript'>
var mapCanvas;
var info="";
function initialize() {
  var myOptions = {
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  mapCanvas = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  var rendererOptions = {
    map: mapCanvas
  };
  var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)
  
  var request = { 
    origin: "東京駅", 
    destination: "大阪駅", 
		waypoints:[
			{
				location: "静岡駅"
			},
			{
				location: "名古屋駅"
			}
		],
//sensor:true,
		travelMode: google.maps.DirectionsTravelMode.DRIVING
  };
  
  directionsService = new google.maps.DirectionsService();
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      var route = response.routes[0];
      mapCanvas.fitBounds(route.bounds);
			for(i=0;i<route.legs.length;i++){
				info+="<p>route.legs["+i+"].start_address:"+route.legs[i].start_address+"<br>route.legs["+i+"].end_address="+route.legs[i].end_address+"</p>";
			}
			route.legs[0].start_address = "<b>出発地点</b><br>JR東京駅<br>(" + route.legs[0].start_address + ")";
			route.legs[1].start_address = "<b>経由地１</b><br>JR静岡駅<br>(" + route.legs[1].start_address + ")";
			route.legs[2].start_address = "<b>経由地２</b><br>JR名古屋駅<br>(" + route.legs[2].start_address + ")";
			route.legs[2].end_address = "<b>終着地点</b><br>JR大阪駅<br>(" + route.legs[2].end_address + ")";
			directionsDisplay.setDirections(response);
			document.getElementById('info').innerHTML = info;
    }
  });
}
google.maps.event.addDomListener(window, "load", initialize);
</script>



<body>
<div id="map_canvas" style="width:600px;height:400px;"></div>
<div id="info" style="width:600px;height:410px;"></div>
</body>





